# Database (URL fournie par PostgreSQL local ou Docker)
DATABASE_URL="postgresql://user:password@localhost:5432/ctd_db?schema=public"

# Sécurité (Phrase aléatoire très longue)
JWT_SECRET="votre_secret_jwt_tres_long_et_securise"

# URLs (Important pour les erreurs CORS - PAS de / final)
FRONTEND_URL="https://portail-ctd-tchad.vercel.app"
PORT=3000

# Mode
NODE_ENV="production"
